<%= form_for(contact, html: {class: 'contact-form wow fadeInUp animated', multipart: true, remote: true}) do |f|%>
  <p>
  <%= f.text_field :name, required: true, placeholder: 'Name', class: 'name required' %>
  <%= f.text_field :email, required: true, placeholder: 'Email Address', class: 'email required'  %>
  </p>
  <p>
  <%= f.text_area :message, as: :text, required: true, placeholder: 'Message', class: 'message required' %>
  <div class= "hidden">
    <%= f.hidden_field :nickname, :hint => 'Leave this field blank!' %>
  </div>
  </p>
  <div class="clearfix">
    <div class="submit-and-loader">
      <%= f.submit 'Submit Now', class: 'submit' %>
    </div>
  </div
<% end %>
